.dashboardheader2 {
    margin-left: auto;
}

.Dashboardheader1 {
    margin-top: 0px;
}

.Learningpathprogess,
.ProjectsProgres {
    display: flex;
    /*justify-content: space-around;*/
    margin: 0px;
}


/* Styles for phone screens */

@media (max-width: 768px) {
    .Learningpathprogess,
    .ProjectsProgres {
        flex-direction: column;
    }
}


/* Styles for desktop screens */

@media (min-width: 768px) {
    .Learningpathprogess,
    .ProjectsProgres {
        flex-direction: row;
    }
}