.default {
    width: 200px;
    height: 80px;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.learningpathprogressbar {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
}
